/*
    * pet_adoption.css
    *
    * CSC309 Term Project
    * University of Toronto
    * Fall 2023
*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

/* banner */

.banner {

}

.LHScontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.LHSbanner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#find {
    margin: 20px 0;
    font-size: 64px;
    font-weight: bold;
}

#browse {
    margin: 20px 0;
    font-size: 32px;
}

#banner_btn {
    margin: 20px 0;
    width: 60%;
}

.RHScontainer {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* body */

.body {
    background-color: #97C3E9;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

#why {
    margin: 15px;
    font-size: 48px;
}

.card_pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 15px;
    background-color: #6892E5;
    width: 300px;
    margin: 15px 15px;
    padding-bottom: 20px;
}

.card h2 {
    font-size: 32px;

    margin: 15px;
}

.card h4 {
    font-size: 18px;

    margin: 15px;
}

/* bottom */

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 60px 0;
}

.bot_container_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bot_container_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 60px;
    align-items: center;
}

.bot-dogs {
    width: 300px;
    height: 400px;
    border-radius: 15px;
}

.text-container_1 {
    padding: 40px;
    max-width: 350px;

}

.text-container_2 {
    padding: 40px;
    text-align: end;
    max-width: 350px;

}

.bottom h2 {
    font-size: 36px;
}

.btn {

}

/* images */

#banner_img {
    min-width: 400px;
}

.bot-dogs {
    min-width: 300px;
}

@media only screen and (max-width: 600px) {
    .bot_container_1 {
      flex-wrap: wrap;
      justify-content: center;
    }
    .bot_container_2 {
        flex-wrap: wrap;
        justify-content: center;

      }
  }