.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;

  position: relative;
  margin: 16px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 32px);
}

.background-box {
  background-color: #97c3e9;
  width: 1228px;
  height: fit-content;
  border-radius: 15px;
  margin: auto;
  padding: 0;
  margin-top: 12px;

  margin-left: 8px;
  margin-right: 8px;
}

.login-error {
  color: red;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}

.application-text {
  font-weight: 550;
  font-size: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.app-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.app-box p {
  color: red;
  font-weight: bold;
}
.app-box label {
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.app-box input {
  /* width: 686px; */
  width: 70%;
  height: 41px;
  border-radius: 10px;
  margin-top: 20px;

  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.app-box textarea {
  /* width: 686px; */
  width: 70%;
  height: 215px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  resize: none;

  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  height: 58px;
  width: 116px;
  background-color: white;
  border-radius: 40px;
  border-width: 2px;

  font-size: 20px;
  font-weight: 550;
  margin-top: 5px;
  margin-bottom: 20px;
}
.submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.459);
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.info-container p {
  margin-top: 5px;
  display: inline;
}

@media screen and (max-width: 700px) {
  .app-box input {
    width: 70%;
  }
  .app-box textarea {
    width: 70%;
  }
}
