@import "../css/main_style.css";

.main {
   /* display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Poppins", sans-serif; */
 
   position: relative;
   margin: 16px;
   min-height: calc(100vh - var(--header-height) - var(--footer-height) - 32px);
 }

 .search-container {
  margin-top: 8px;
  margin-bottom: 24px;
  border-radius: 10px;
  /* width: 50%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  background-color: var(--primary);
  /* border: green solid 2px; */
}

.search-top {
  display: flex;
  flex-direction: row;
  /* border: purple solid 2px; */
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.sort-container {
  /* margin: 8px 0; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 8px;
}

.sort-label {
  align-items: center;
  padding-right: 8px;
}

.search-bar {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 50%; */
}

.search-bar-input {
  max-width: 300px;
  width: 80vw;
}

.search-bar-input input {
  background-color: aliceblue;
}

.search-bottom {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 25%;
  /* border: purple solid 2px; */
  justify-content: space-evenly;
}

.label, .select {
  margin-bottom: 8px;
  text-align: center;
  color: var(--light-text);
}

.select select{
  background-color: aliceblue !important;
}

.card, .title, .subtitle{
  background-color: var(--primary) ;
  color: var(--light-text) ;
  text-align: left ;
}

.load-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.load-more {
  width:100% !important;
}

div p a{
  color: inherit;
  text-decoration: underline;
  text-align: left !important;
}

p a:hover{
  color: var(--lighter-dark-blue);
  transition: color 250ms linear;
}

.button.is-primary {
  background-color: var(--primary);
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  transition: color 250ms linear;
  transition: background-color 250ms linear;
  color: var(--primary);
  background-color: white;
}

.button.is-secondary {
  background-color: var(--secondary);
  border-color: transparent;
  color: #fff;
}

.button.is-secondary:hover {
  transition: color 250ms linear;
  transition: background-color 250ms linear;
  color: var(--secondary);
  background-color: white;
}

.button.is-secondary-lighter {
  background-color: var(--secondary-lighter);
  border-color: transparent;
  color: #fff;
}

.button.is-secondary-lighter:hover {
  transition: color 250ms linear;
  transition: background-color 250ms linear;
  color: var(--secondary-lighter);
  background-color: white;
}