:root {
    --dark-text: black;
    --light-text: white;
  
    --primary: #97c3e9;
    --secondary: #6892e5;
    --secondary-lighter: #73a3ff;
    --dark-blue: #081d40;
    --lighter-dark-blue: #243662;
  
    --header-height: 72px;
    --footer-height: 36px;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
  
    position: relative;
    margin: 16px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - 32px);
  }
  
  .blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .background-box {
    background-color: var(--primary);
    color: var(--dark-text);
    max-width: 500px;
    width: 100%;
    /* height: 484px; */
    border-radius: 15px;
    margin: auto;
    padding: 0;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    height: fit-content;
  }
  
  .rating-div {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    /* transform: scale(2); */
    display: flex;
    width: 100%;
    padding: 10px 30px;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: var(--secondary); */
    border-radius: 5px;
    justify-content: space-evenly;
  }

.likes-text{
  color: var(--light-text);
}
  .liked {
    color: red;
  }
  
  .form {
    flex-direction: row;
  }
  
  .rating-number {
    padding: 0px 10px;
  }
  
  .checked {
    color: orange;
  }
  
  .shelter-name {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
  
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
    color: black;
  }
  
  .pfp-container {
    border-radius: 200px;
    width: 200px;
    height: 200px;
  
    overflow: hidden;
    display: flex;
    margin: 10px;
  }
  
  .pfp {
    width: 100%;
    height: 100%;
  }
  
  .location {
    text-align: left;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    width: fit-content;
    color: black;
  }
  
  .contact {
    text-align: left;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    width: fit-content;
    color: black;
  }
  
  .email {
    text-align: left;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    width: fit-content;
    word-break: break-all;
    color: black;
  }
  
  textarea {
    font-weight: 400 !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
    margin-bottom: 20px !important;
    color: black !important;
  }
  
  .mission {
    color: black;
    margin-left: 10px;
  }
  
  .mission-text {
    background: aliceblue;
    font-size: 20px;
    max-width: 480px;
    width: calc(100% - 20px);
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 10px;
  }
  .mission-text p {
    color: black;
  }
  
  .blog-container {
    margin-bottom: 20px;
  }
  
  .blog {
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
  }
  
  .animal-list {
    width: 100%;
  }
  
  .available-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .available {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: black;
  }
  
  .adopted-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 20px; */
  }
  
  .secret3 {
    margin-bottom: 10px;
  }
  
  .adopted {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: black;
  }
  
  .review-section {
    display: flex !important;
    justify-content: center !important;
    /* margin-bottom: 20px; */
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }
  
  .review {
    font-size: 30px !important;
    font-weight: 700 !important;
    text-decoration: underline !important;
    color: black !important;
  }
  
  .write-review {
    border-radius: 10px !important;
    max-width: 750px !important;
    width: 100% !important;
    min-height: 90px !important;
    height: fit-content !important;
    background-color: var(--primary) !important;
  
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    /* justify-content: center; */
    margin-bottom: 20px;
  }
  
  .write-review textarea {
    /* margin: auto; */
    resize: none;
    border-radius: 5px;
    max-width: 360px;
    width: 60%;
    height: 70px;
  }
  
  .write-review button{
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    /* margin-top: 10px; */
    /* margin-left: 20px; */
    margin: auto 8px;
    border-radius: 5px;
    border-width: 0;
  }
  
  .your-rating {
    margin: auto;
    font-weight: 700;
  }
  
  .control {
    margin:auto;
  }
  
  .review-name {
    font-weight: 700;
    padding: 5px;
    margin-left: -5px;
    background-color: inherit;
  }
  
  .media {
    background-color: var(--primary);
    padding: 16px;
    border-radius: 10px;
    border-top: 1px solid var(--light-text);
  }
  
  .media-box {
    background-color: var(--primary) ;
    align-items: flex-start;
    display: flex;
    text-align: inherit;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
  }
  
  .shelter-post {
    background-color: var(--secondary);
    border-radius: 20px;
    color: var(--light-text);
  }
  
  .br-text {
    color: black;
  }
  
  .spacer {
    background-color: var(--primary);
    width: 100%;
    height: 5px;
  }
  
  .label,
  .select {
    margin-bottom: 8px;
    text-align: center;
    color: var(--light-text);
  }
  
  .select select {
    background-color: aliceblue;
  }
  
  .card,
  .title,
  .subtitle {
    background-color: var(--primary);
    color: var(--light-text);
  }
  
  p {
    text-align: left;
  }
  
  p a {
    color: inherit;
    text-decoration: underline;
  }
  
  p a:hover {
    color: var(--lighter-dark-blue);
    transition: color 250ms linear;
  }
  
  .button.is-primary {
    background-color: var(--primary);
    border-color: transparent;
    color: #fff;
  }
  
  .button.is-primary:hover {
    transition: color 250ms linear;
    transition: background-color 250ms linear;
    color: var(--primary);
    background-color: white;
  }
  
  .button.is-secondary {
    background-color: var(--secondary);
    border-color: transparent;
    color: #fff;
  }
  
  .button.is-secondary:hover {
    transition: color 250ms linear;
    transition: background-color 250ms linear;
    color: var(--secondary);
    background-color: white;
  }
  
  .button.is-secondary-lighter {
    background-color: var(--secondary-lighter);
    border-color: transparent;
    color: #fff;
  }
  
  .button.is-secondary-lighter:hover {
    transition: color 250ms linear;
    transition: background-color 250ms linear;
    color: var(--secondary-lighter);
    background-color: white;
  }
  
  .navbar-dropdown a.navbar-item {
    color: var(--light-text);
  }
  
  .navbar-dropdown hr.navbar-divider {
    margin: 8px;
  }
  
  .navbar-dropdown a.navbar-item:hover {
    background-color: #73a3ff;
    color: var(--light-text);
    /* font-weight: 400; */
  }
  
  .navbar-profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto 10px;
    box-sizing: border-box;
    background-color: var(--dark-blue);
  }
  
  .navbar-profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
  .mission-box textarea {
    background-color: white;
    width: 664px;
    /* width: 91%; */
    height: 170px;
    border-radius: 20px;
    border-width: 2px;
  
    font-size: 20px;
    font-weight: 550;
    font-family: "Poppins", sans-serif;
    resize: none;
    padding: 7px;
  
    
  }
  
  .navbar-profile:hover {
    outline: solid var(--secondary) 3px;
  }
  
  .navbar-item img {
    max-height: 100%;
  }
  
  .is-vertical {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* make responsive */
  @media only screen and (max-width: 800px) {
    .form {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .help {
      flex-direction: column !important;
    }
  
    textarea {
      width: 80% !important;
      margin-top: 0 !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
    }
  }