.main {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Poppins", sans-serif;
 
   position: relative;
   margin: 16px;
   min-height: calc(100vh - var(--header-height) - var(--footer-height) - 32px);
 }
 
 .background-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--primary);
   height: fit-content;
   width: 746px;
   border-radius: 15px;
   margin: auto;
   padding: 0;
   margin-top: 40px;
 
   margin-left: 8px;
   margin-right: 8px;
 }
 
 .signup-text {
   padding: 0;
   width: fit-content;
   margin-top: 20px;
 
   font-size: 40px;
   font-weight: 400;
 
   color: white;
 }
 
 form {
   display: flex;
   flex-direction: column;
   margin-left: 8px;
   margin-right: 8px;
 }
 
 .pfp-container {
   border-radius: 100px;
   width: 200px;
   height: 200px;
 
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
 }
 .pfp {
   width: 100%;
   height: 100%;
 }
 
 .space-between {
   margin-left: 20px;
 }
 
 .login-box {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-top: 10px;
 }
 .login-box input {
   background-color: white;
   width: 300px;
   height: 58px;
   border-radius: 20px;
   border-width: 2px;
 
   font-size: 20px;
   font-weight: 550;
   font-family: "Poppins", sans-serif;
 
   margin: 0 5px;
 }
 .login-box label {
   font-size: 18px;
   font-weight: 550;
   margin-right: 10px;
 }
 
 .mission-box {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
 }
 .mission-box textarea {
   background-color: white;
   width: 100%;
   height: 170px;
   border-radius: 20px;
   border-width: 2px;
 
   font-size: 20px;
   font-weight: 550;
   font-family: "Poppins", sans-serif;
   resize: none;
   color: gray;
   padding: 7px;
 }
 .mission-box label {
   font-size: 18px;
   font-weight: 550;
   margin-right: 10px;
 }
 
 .submit-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
 }
 .submit-btn {
   height: 58px;
   width: 116px;
   background-color: aliceblue;
   border-radius: 20px;
   border-width: 2px;
 
   font-size: 20px;
   font-weight: 550;
   margin-top: 20px;
 }
 .submit-btn:hover {
   background-color: rgba(255, 255, 255, 0.459);
 }
 
 .top-margin {
   margin-top: 10px;
 }
 .left-margin {
   margin-left: 10px;
 }
 .info-container {
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }
 .info-container p {
   display: inline;
 }
 
 .pfpsection {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   font-size: 28px;
   color: white;
 }
 
 #pfpfile {
   border: 1px solid white;
   padding: 10px;
   border-radius: 15px;
 }

 .wrapper {
  margin-top: 20px;
}
.box_header {
  color: white !important;
}
.wrapper2 {
  display: inline-flex;
  justify-content: space-around;
}
 
 @media only screen and (max-width: 664px) {
   .login-box {
     display: flex;
     flex-wrap: wrap;
     margin: 20px 0;
   }
 
   .mission-box textarea {
     width: 300px;
   }
 
   .login-box {
     margin-top: 5px;
   }
 
   .login-box input {
     margin-top: 5px;
   }
 }
 