/*
    * pet_detail.css
    *
    * CSC309 Term Project
    * University of Toronto
    * Fall 2023
    */

    .namecard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 400px;
        background-color: var(--primary);
        border-radius: 10px;
        padding: 2rem;
        margin: 0 0 3rem 0;
    }
    
    .pfp-div {
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: -1rem;
    }
    
    .pfp {
        width: 100%;
        height: 100%;
    }
    
    .pet-name {
        align-self: self-start;
        font-size: 42px;
        background-color: aliceblue;
        border-radius: 32px;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }
    
    .adopt:hover {
        border: solid var(--secondary) 1px;
    }
    
    .main-card {
        background-color: var(--primary);
        padding: 1rem;
        width: 100%;
        border-radius: 10px;
        min-height: 80vh;
    }
    
    .main {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }
    
    .list {
        display: flex;
        flex-wrap: wrap;
    }
    
    @media screen and (min-width: 1000px) {
        .list li:first-child::before {
            content: none;
        }
    }
        
    .list li::before {
        content: "\2022";
        padding: 0 8px;
    }
    
    h2 {
        font-size: 1.5rem;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: var(--secondary);
        margin: 1rem 0;
    }
    
    .left-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin-right: 1rem;
    } 
    
    .adopt {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 32px;
        border-radius: 10px;
        background-color: grey;
    }
    
    .status {
        background-color: aliceblue;
        border-radius: 32px;
        padding: 0 0.5rem;
    }
    
    @media screen and (max-width: 1000px) {
        .main {
            flex-direction: column;
        }
        .namecard {
            width: 100%;
        }
        .left-wrapper {
            margin-right: 0;
        }
        .adopt {
            margin-bottom: 2rem;
        }
    }