/*
    * signup_seeker.css
    *
    * CSC309 Term Project
    * University of Toronto
    * Fall 2023
    */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.background-box {
  background-color: var(--primary);
  width: 746px;
  border-radius: 15px;
  margin: auto;
  padding: 0;
  margin-top: 10px;

  margin-left: 8px;
  margin-right: 8px;

  display: flex;
  flex-direction: column;
}

.signup-text {
  font-size: 40px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 17px 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}

.pfp-container {
  border-radius: 100px;
  width: 200px;
  height: 200px;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.pfp {
  width: 100%;
  height: 100%;
}

.space-between {
  margin-left: 20px;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
.login-box input {
  background-color: white;
  width: 300px;
  /* width: 50%; */
  height: 58px;
  border-radius: 20px;
  border-width: 2px;

  font-size: 20px;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
}
.login-box label {
  font-size: 18px;
  font-weight: 550;
  margin-right: 10px;
}
.login-box input[type=file] {
  height: 28px;
  width: 280px;
  border-radius: 2px;
}

.submit-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.submit-btn {
  height: 58px;
  width: 116px;
  background-color: white;
  border-radius: 20px;
  border-width: 2px;

  font-size: 20px;
  font-weight: 550;
  margin-top: 35px;
  margin-left: 5%;
}
.submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.459);
}

.top-margin {
  margin-top: 20px;
}
.left-margin {
  margin-left: 10px;
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.info-container p {
  display: inline;
}

.error-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 8px;
  background: red;
  width: 250px;
  height: 40px;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
  font-size: 13px;
}

@media screen and (max-width: 664px) {
  .pfp-container {
    margin-bottom: 20px;
  }
  .login-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .login-box input {
    margin-bottom: 20px;
  }

  .submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .submit-btn {
    margin-left: 0;
    margin-top: 15px;
  }

  .error-box {
    margin-top: 6px;
    margin-bottom: 10px;
  }
}
