.main {
  padding: 20px;
  display: flex;
  height: 700px;
  width: 390px;
}

.channels {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.channel_btn {
  margin-bottom: 20px;
}

.convo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.input {
  display: flex;
}

.input_bar {
  width: 100%;
}

@media screen and (max-width: 390px) {
  .main {
    width: 390px;
  }
}
