.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 16px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 32px);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.cards_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #97c3e9;
  width: 100%;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #6892e5;
  width: 300px;
  height: 300px;
  margin: 0 10px 20px 10px;
  padding: 20px;
}

.shelter_img_front {
  border-radius: 15px;
  width: 300px;
  margin: 50px;
}

.h1 {
  font-size: 48px;
  color: white;
  text-align: center;
  margin: 30px 0;
}

.h2 {
  font-size: 24px;
  color: white;
  text-align: center;
  margin: 30px 0;
}

p {
  font-size: 16px;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
}
